# ========================
# segurança
# ========================
.env
.env.local
.env.*.local
*.pem
*.key
backend/sistema/local_settings.py

# ========================
# python e Django
# ========================
__pycache__/
*.py[cod]
*$py.class
backend/venv/
env/
.venv/
db.sqlite3
db.sqlite3-journal
/backend/media/
/backend/staticfiles/

# =================================================
# Aplicações Mobile e Web (REACT/ REACT NATIVE)
# =================================================
node_modules/
dist/
build/
.expo/
web-build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
android/app/build/
ios/Pods/
*.apk
*.aab

# ========================
# Sistema
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
